<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
  </head>
  <body>
    <ul>
    <% @files.each do |file| %>
      <li><a href="/<%=file%>"><%= file %></a></li>
    <% end %>
    </ul>
  </body>
</html>